<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- property用于配置hibernate中的属性  键：值-->
		 <!-- hibernate.connection.driver_class 连接数据库的驱动-->
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<!-- hibernate.connection.username  连接数据库的用户名-->
		<property name="hibernate.connection.username">root</property>
		<!-- hibernate.connection.password 连接数据库的密码 -->
		<property name="hibernate.connection.password">root</property>
		<!-- hibernate.connection.url 连接数据库的地址 -->
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hibernate</property>
		<!-- show_sql 操作数据库时会向控制台打印SQL语句 -->
		<property name="show_sql">true</property>
		<!-- format_sql 打印SQL语句前，会将SQL语句先格式化 -->
		<property name="format_sql">true</property>
		<!-- hbm2ddl.auto 是否自动生成表结构 -->
		<property name="hbm2ddl.auto">update</property>
		<!-- hibernate.connection.autocommit 事务自动提交 -->
		<property name="hibernate.connection.autocommit">true</property>
		
		<!-- 开启二级缓存 -->
		<property name="hibernate.cache.use_second_level_cache">true</property>
		<!-- 配置实现实现类 -->
		<property name="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</property>
		<!-- 开启查询缓存 -->
		<property name="hibernate.cache.use_query_cache">true</property>
		
		
		<!-- 引入ORM映射文件 填写SRC之后的路径-->
		<mapping resource="cn/wyc/helloWorld/User.hbm.xml"/>
		<mapping resource="cn/wyc/relate/Customer.hbm.xml"/>
		<mapping resource="cn/wyc/relate/Order.hbm.xml"/>
		<mapping resource="cn/wyc/relatemanytomany/Course.hbm.xml"/>
		<mapping resource="cn/wyc/relatemanytomany/Student.hbm.xml"/>
		<mapping resource="cn/wyc/relateOneToOne/Address.hbm.xml"/>
		<mapping resource="cn/wyc/relateOneToOne/Company.hbm.xml"/>
		
		<!-- 配置类缓存区中的缓存类 -->
		<class-cache usage="read-only" class="cn.wyc.relate.Customer"/>
		<class-cache usage="read-only" class="cn.wyc.relate.Order"/>
		<!-- 集合缓存配置  完整类名.集合属性名-->
		<collection-cache usage="read-only" collection="cn.wyc.relate.Customer.orders"/>
	</session-factory>
</hibernate-configuration>